# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.cache/

# Env files
.env
.env.*

# Chroma, data, and models inside api/
chroma_storage/
data/
models/
*.db
*.sqlite3

# IDE/OS junk
.vscode/
.idea/
.DS_Store
*.swp

# Git & docs
.git/
*.md
